<mat-toolbar color="primary">
  <span id="niqzart" [style.padding-left.px]="padding">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/qwert45hi">
      niqzart
    </a>
  </span>
  <span id="djangularity">
    <a href="/">
      djangularity
    </a>
  </span>
  <span id="links" [style.padding-right.px]="padding">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/qwert45hi/djangularity">
      github
    </a>
  </span>
</mat-toolbar>

<div id="content">
  <router-outlet></router-outlet>
</div>