mat-toolbar span {
  font-weight: 250;
  font-size: 30px;
  width: 33%;
}

mat-toolbar span a {
  color: white;
  text-decoration: none;
}

#niqzart a {
  font-family: "Oxanium", cursive;
}

#djangularity {
  text-align: center;
}

#djangularity a {
  font-family: "Comfortaa", cursive;
  color: aquamarine;
}

#links {
  text-align: right;
}

#content {
  margin: auto;
  max-width: 1200px;
}